<!-- nav -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="/">EMS</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
    <div class="jumbotron mb-0">
      <div class="container p-0">
        <div class="row">
          <div class="col-3">
            <sidebar-admin></sidebar-admin>
          </div>
          <div class="col-9">
            <alert></alert>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>

<!-- credits -->
<!-- Footer -->
<footer class="page-footer font-small white bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a href="https://github.com/kartikey.choudhary"> Employee Management System </a>
  </div>
  <!-- Copyright -->
  <div style="height: 100px;">

  </div>
</footer>
<!-- Footer -->
