<nav class="navbar card mb-2 shadow-lg">
  <div class="row w-100">
    <div class="col-9" *ngIf="returnSearchInput()">
      <label for="search">Search</label>
      <input
        type="text"
        class="form-control w-100"
        name="searchBar"
        [ngModel]="search"
        (keyup)="onKey($event)"
        placeholder="Search Keywords"
      />
    </div>

    <div class="col-9" *ngIf="searchKey === 'dojR'">
      <div class="row">
        <div class="col-6">
          <label for="searchType">Start Date</label>
          <input
            class="form-control"
            type="date"
            (change)="handleStartDate($event)"
          />
        </div>
        <div class="col-6">
          <label for="searchType">End Date</label>
          <input
            class="form-control"
            type="date"
            (change)="handleEndDate($event)"
          />
        </div>
      </div>
    </div>

    <div class="col-9" *ngIf="searchKey === 'skills'">
      <label for="search">Input Skill Keywords</label>

      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)] = "keyword"
          placeholder="Input Skill Keywords"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="addKeyword()">
            <i class="fas fa-plus"></i> Add
          </button>
        </div>
      </div>
    </div>

    <div class="col-9" *ngIf="searchKey === 'salaryR'">
      <label for="search">Select Range</label>
      <div class="row">
        <div class="col-10">
          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-outline-primary" (click)="salaryRange()">Search</button>
        </div>
      </div>
      
    </div>

    <div class="col-3">
      <div class="form-group">
        <label for="searchType">Type</label>
        <select class="form-control" (change)="handleSearchType($event)">
          <option value="fname">Name</option>
          <option value="designation">Designation</option>
          <option value="salary" *ngIf="admin">Salary</option>
          <option value="salaryR" *ngIf="admin">Salary (Range)</option>
          <option value="dojR" *ngIf="admin">Date of Joining (Range)</option>
          <option value="doj" *ngIf="admin">Date of Joining</option>
          <option value="skills" *ngIf="admin">Skills</option>

        </select>
      </div>
    </div>
  </div>
  <div class="row  w-100" *ngIf="keywords.length > 0">
    <div class="col-10 p-2 border border-info rounded">
      
      <span class="badge badge-info m-1 p-2" *ngFor="let key of keywords">{{key}}</span>
    </div>
    <div class="col-2 p-2">
      <button type="button" class="btn btn-danger" (click)="resetKeyword()" >Reset</button>
    </div>
  </div>
</nav>

<table class="table m-0 p-0 bg-white table-striped table-hover shadow-lg" *ngIf="employees.length > 0">
  <thead class="thead-dark">
    <tr>
      <th (click)="sort('id')">Id&nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('fname')">Name&nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('designation')">
        Designation&nbsp;<i class="fa fa-sort"></i>
      </th>
      <th (click)="sort('salary')" *ngIf="admin">
        Salary (₹)&nbsp;<i class="fa fa-sort"></i>
      </th>
      <th *ngIf="admin">Date of Joining</th>
      <th *ngIf="admin">More</th>
      <th *ngIf="admin">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="text-center"
      *ngFor="
        let employee of employees
          | orderBy: key:reverse
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
    >
      <td>{{ employee.id }}</td>
      <td>{{ employee.fname }} {{ employee.lname }}</td>
      <td>{{ employee.designation }}</td>
      <td *ngIf="admin">{{ employee.salary }}</td>
      <td *ngIf="admin">{{ employee.doj }}</td>
      <td
        class="btn-primary"
        data-toggle="modal"
        [attr.data-target]="'#modal' + employee.id"
        *ngIf="admin"
      >
        <i class="fa fa-info-circle"></i>
      </td>
      <td class="btn-warning" (click)="redirectEdit(employee.id)" *ngIf="admin">
        <i class="fas fa-edit fa-lg"></i>
      </td>

      <!-- Modal -->
      <div
        class="modal fade"
        [id]="'modal' + employee.id"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modelTitleId"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ employee.designation }}</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-2 lead text-left">Name</div>
                <div class="col-10 lead text-left">
                  {{ employee.fname }} {{ employee.lname }}
                </div>
              </div>
              <div class="row">
                <div class="col-2 lead text-left">Skills</div>
                <div class="col-10 lead text-left">
                  {{ employee.skills }}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    <!-- <tr>
            <td colspan="7">
              <div>
                  <div class="row">
                      <div class="col">skills</div>
                      <div class="col">{{employee.skills}}</div>
                  </div>
                </div>
            </td>
        </tr> -->
  </tbody>
  <tfoot class="bg-dark text-white">
    <tr>
      <td colspan="7">
        <div class="text-end">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </td>
    </tr>
  </tfoot>
</table>

<h3 class="container" *ngIf="employees.length == 0">No Data to Display</h3>
